arxiv
beautifulsoup4
bs4
chromadb
faiss-cpu
fastapi
groq
huggingface-hub
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-ollama
langchain-openai
langchain-text-splitters
langchainhub
langserve
langsmith
matplotlib-inline
numpy
ollama
onnxruntime
openai
pandas
pillow
pydantic
pypdf
python-dotenv
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
SQLAlchemy
sse-starlette
starlette
streamlit
tokenizers
torch
tqdm
transformers
urllib3
uvicorn
wikipedia